@charset "UTF-8";

#p-eventEdtiComp {
  width: 100%;
  padding: 0 5vw;
}
#p-eventEdtiComp-message-box {
  width: 50%;
  margin: 0 auto;
  padding: 2vw;
  border: 4px solid #89fadf;
  border-collapse: separate;
  border-radius: 12px;
}
.p-eventEdtiComp-message-box__text {
  text-align: center;
}