@charset "UTF-8";

#p-serchRecord {
  width: 100%;
  padding: 0 5vw;
}
#p-serchRecord-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#p-serchRecord-head__title {
  font-size: 1.5vw;
}
#p-serchRecord-errList {
  width: 80%;
  margin: 2vw auto 0 auto;
}
.p-serchRecord-errList__item {
  text-align: center;
}
#p-serchRecord-form {
  width: 80%;
  margin: 2vw auto 2vw auto;
}
#p-serchRecord-form-head__container {
  width: 50%;
  margin: 0 auto;
}
.p-serchRecord-form__head {
  text-align: left;
}
#p-serchRecord-form-table {
  width: 50%;
  height: 12vw;
  padding: 1vw 0;
  margin: 2vw auto 0 auto;
  border: 4px solid #89fadf;
  border-collapse: separate;
  border-radius: 12px;
}
#p-serchRecord-form-table th {
  width: 50%;
  text-align: center;
}
.p-serchRecord-form-table td input {
  width: 80%;
}
.p-serchRecord-form-table td:nth-child(n+2) input {
  width: 35%;
}
.p-serchRecord-form-buttonBox {
  text-align: center;
}
.p-serchRecord-form-buttonBox__button {
  padding: 0.5vw;
  font-size: 1vw;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #e1faf4;
}